<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/room/images/favicon.ico">
    <link rel="shortcut icon" href="/room/images/favicon.ico"/>
    <link rel="stylesheet" href="/room/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="page1" id="top">
<header>
    <div class="container">
        <div class="row">
            <div class="grid_12 rel">
                <h1>
                    <a href="index.html">
                        <img src="/room/images/logo.png" alt="Logo alt">
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <section class="page1_header">
        <div class="container">
            <div class="row">
                <div class="grid_4">
                </div>
                <div class="grid_5 row">
                    <h2>Strong <br> Stable <br> Safe</h2>
                    We help you run your business in a successful way
                </div>
            </div>
        </div>
    </section>
</header>

<section id="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>
    <div class="container">
        <table class="table" style="border: solid 1px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Service Id</th>
                <th scope="col">Service Name</th>
                <th scope="col">Service Area</th>
                <th scope="col">Service Cost</th>
                <th scope="col">Max People</th>
                <th scope="col">Standard Room</th>
                <th scope="col">Description Orther Convinience</th>
                <th scope="col">Pool Area</th>
                <th scope="col">Number Of Floor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <article class="content_gray">
        <div class="container">
            <div class="row">
                <div class="grid_7">
                    <h3>Our Advantages</h3>
                    <div class="block-2">
                        <img src="/room/images/page1_img1.jpg" alt="" class="img_inner fleft">
                        <div class="extra_wrapper">
                            <div class="text1"><a href="#">Experience</a></div>
                            <p>Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert varius augue, eu
                                consectetur ligulaam dui eros dertoli.</p>Fusce adipiscing quam id risus sagittis, non
                            consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales vertomin
                            <br>
                            <a href="#" class="link-1">more</a>
                        </div>
                    </div>
                    <div class="block-2">
                        <img src="/room/images/page1_img2.jpg" alt="" class="img_inner fleft">
                        <div class="extra_wrapper">
                            <div class="text1"><a href="#">Marketing</a></div>
                            <p>Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert varius augue, eu
                                consectetur ligulaam dui eros dertoli.</p>Fusce adipiscing quam id risus sagittis, non
                            consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales vertomin
                            <br>
                            <a href="#" class="link-1">more</a>
                        </div>
                    </div>
                </div>
                <div class="grid_4 preffix_1">
                    <h3>Testimonials</h3>
                    <blockquote class="bq1">
                        <p>“Curabitur vel lorem sit amet nulla erero fermentum. In vitae varius auguectetu ligula. Etiam
                            dui eros, laoreet site am est vel commodo venenatisipiscing... ”</p>
                        <span>Liza Jons</span>
                    </blockquote>
                    <blockquote class="bq1">
                        <p>“Burabitur vel lorem sit amet nulla erero fermentum. In vitae varius auguectetu ligula. Etiam
                            dui eros, laoreet site am ast vel commodo venenatisipiscino... ”</p>
                        <span>Mark Brown</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </article>
</section>
<!--==============================
              footer
=================================-->
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
<script src="/room/js/jquery.js"></script>
<script src="/room/js/jquery-migrate-1.1.1.js"></script>
<script src="/room/js/jquery.easing.1.3.js"></script>
<script src="/room/js/script.js"></script>
<script src="/room/js/superfish.js"></script>
<script src="/room/js/jquery.equalheights.js"></script>
<script src="/room/js/jquery.mobilemenu.js"></script>
<script src="/room/js/tmStickUp.js"></script>
<script src="/room/js/jquery.ui.totop.js"></script>
<script src="/room/js/html5shiv.js"></script>
<script>
    $(window).load(function () {
        $().UItoTop({easingType: 'easeOutQuart'});
        $('#stuck_container').tmStickUp({});
    });
</script>
</html>